html, body {
	height:100%;
	width:100%;
}

html {
	background: #000000;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	background: #292929;
	color:white;
}

.label {
	color: #c1c1c1;
	letter-spacing: 4px;
	font-size:12px;
	text-transform: uppercase;
	margin: 10px 0 5px;
	text-align: center;
	display: block;
}

.preset, .action {
    color: white;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
}

.preset {
	display: block;
	background-color: #0099CC;
	width: 90%;
	margin: 10px 5%;
	padding: 10px;
	box-shadow: 0 4px 0 #003F54, 0 2px 8px rgba(0,0,0,0.5);
}

.action {
    display: inline-block;
    padding:15px 10px;
    background-color: #1fa67a;
    margin: 5px 5px;
    width:64px;
    box-shadow: 0 4px 0 #00563A, 0 2px 8px rgba(0,0,0,0.5);
}

.action i {
	font-size: 1.7em;
}

.column2 {
	width:98%;
	max-width:400px;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
}

@media only screen and (min-width: 480px) {
	.column2 {
		width:48%;
		margin:0 1%;
		float:left;
	}
}

@media only screen and (min-width: 768px) {

	html {
		height:320px;
	}

	body {
		margin: 0 auto;
		width:480px;
	}

}